@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div style="text-align: center; margin-top: 50px;">
    <h1>@ViewData["Title"]</h1>

    <br />
    <br />

    <p>Use this page to detail your site's privacy policy.</p>

    <p>At OurCompany, we take privacy very seriously. We promise not to read your emails... unless they're really funny.</p>

    <p>We collect cookies, but we swear we won't eat them. All cookies are strictly digital and gluten-free.</p>

    <p>Your data is as safe as our office coffee – which means pretty safe, except on Mondays.</p>

    <p>If you have any concerns, just remember: our customer service team is available 25 hours a day, 8 days a week.</p>
</div>