@page
@model WebApplication2.Pages.SettingsModel
@{
}
<div style="text-align: center; margin-top: 100px;">
    <h1 class="display-4">Settings</h1>


    <div style="margin-top: 60px; font-size: 14px; color: #666;">
        <p>Need assistance? Contact the <a href="/Support">Support Team</a> or check the <a href="/Docs">Admin Documentation</a>.</p>
    </div>
</div>
